
     body {
       font-size: 16px;
     }

     h1 {
      font-size: 65pix;
      color: orange;
      font-family: sans-serif;
      }
     
     ul{
         background-color: green;
     }

     p {
       font-weight: 600;
       font-size: 3em;
     }
     .favorit_color {
         background-color: hotpink;
     }

     #amarelo {
      background-color: yellow ;
      font-size: 20px;
      font-style: normal;
      text-align: left;
     }

     #vermelho{
      background-color: red;
      font-size: 30px;
      font-style: oblique;
      text-align: center;
      text-decoration: underline;
     }

     #marrom {
       background-color: brown;
       font-size: 40px;
       font-style: italic;
       text-align: right;

     }
     
